{% extends "dashboard/base.html" %}
{% block content %}
<div class="container">
    {% for d in data %}
        <div class="row" style="padding-top:2%;">
            <div class="col-md-9">
                {% autoescape off %}
                {{ d.graph_div}}
                {% endautoescape %}
            </div>
            {% if d.categories_count %}
                <div class="col-md-3" style="max-height: 300px;overflow-y: scroll;">
                    <ul class="list-group">
                        
                        {% for cat_count in d.categories_count %}
                            <li class="list-group-item"> {{ cat_count.0 }} - {{cat_count.1}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}