{% extends "dashboard/base.html" %}
{% block content %}
    {% if data %}
        {{data}}
    {% endif %}
    {% if categories %}
        <div style="padding-top: 2%;">
            <form name="categories_form" id="categories_form" method="post" action="">
                {% csrf_token %}
                <select id="categories" name="categories"  onChange="this.form.submit();">   
                    {% for category in categories %}
                        <option value={{forloop.counter}} {% if selected_category == category %} selected {% endif %} >
                            {{category}}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    {% endif %}
    {% if graph %}
        <div class="col-md-10" style="padding-top: 2%;">
            {% autoescape off %}
            {{ graph }}
            {% endautoescape %}
        </div>
    {% endif %}

    {% if graph2 %}
        <div class="col-md-10" style="padding-top: 2%;">
            {% autoescape off %}
            {{ graph2 }}
            {% endautoescape %}
        </div>
    {% endif %}
{% endblock content %}